<section>
    <div class="row q-pa-md content-center">
        <div class="col-3" ></div>
        <div class="col-6" >
            <q-markup-table>
                <thead>
                <tr>
                    <th class="text-left">Name</th>
                    <th class="text-right">Win Count</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="text-left">Player 1</td>
                    <td class="text-right">{{this.$store.state.leaderBoard.firstPlayer.winsCount}}</td>
                </tr>
                <tr>
                    <td class="text-left">Player 2</td>
                    <td class="text-right">{{this.$store.state.leaderBoard.secondPlayer.winsCount}}</td>
                </tr>
                </tbody>
            </q-markup-table>

        </div>
        <div class="col-3"></div>
    </div>
</section>