<section>
    <div class="q-pa-md" v-if="deck">
        <div class="row">
            <div class="col-12"><p class="text-center">Player 2</p></div>
        </div>
        <div class="row">
            <div class="col-12 justify-center"><card :hidden="true" :cards="hands[0]" :clicable="false"/></div>
        </div>

        <div class="row justify-center">
            <card v-if="discardPile.length" :cards="[discardPile[0]]" :clicable="false"/>
            <card v-if="deck.cards.length" :cards="[deck.cards[0]]" :hidden="true" :clicable="true" v-on:click="drawback()"/>
            <card v-if="this.deck.selectedSuit" :cards="[{suit: this.deck.selectedSuit}]"/>
        </div>

        <div class="row">
            <div class="col-12 justify-center">
                <card :cards="hands[1]" v-on:play="play" :clicable="true" :canPlay="currentPlayer === 1"/>
            </div>
        </div>
        <div class="row">
            <div class="col-12"><p class="text-center">Player 1</p></div>
        </div>
        <div class="row">
            {{winnerIndex}}
            <q-dialog :model-value="winnerIndex !== null" persistent transition-show="flip-down">
                <q-card class="bg-primary text-white">
                    <q-card-section>
                        <div class="text-h6">Player {{winnerIndex}} won!</div>
                    </q-card-section>
                    <q-card-section class="q-pt-none">
                        <q-btn color="primary" @click="restartMatch()">Restart</q-btn>
                    </q-card-section>
                </q-card>
            </q-dialog>
            <q-dialog v-model="isSuitNeeded" persistent transition-show="flip-down">
                <q-card class="bg-primary text-white">
                    <q-card-section>
                        <div class="text-h6">Choose a suit</div>
                    </q-card-section>
                    <q-card-section class="q-pt-none">
                        <div v-for="suit of this.deck.suits">
                            <p class="cursor-pointer" @click="setSuitAndContinue(suit)">{{suit}}</p>
                        </div>
                    </q-card-section>
                </q-card>
            </q-dialog>
        </div>
    </div>
</section>

