<section class="card q-pa-md row items-start q-gutter-md justify-center">
    <q-card v-for="(card, index) in cards" flat bordered>
        <div v-bind:class="{'clicable': clicable, 'cover': hidden}" v-on:click="play(index, card)">
            <q-card-section>
                <p> {{ card.name }} </p>
                <p v-bind:class="card.suit.toLowerCase()" class="suit" v-html="getCardSuitAscii_Char(card.suit)"></p>
            </q-card-section>
        </div>

    </q-card>
</section>

