.card {
  border-radius: 10px;
  p{
    padding: 0 13px;
  }
  .clicable {
    cursor:pointer;
  }
  .cover {
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(6deg, #020024 0%, #484856 35%, #00d4ff 100%);    }
  }
  .suit.hearts, .suit.diamonds {
    color: red;
  }
}