<template>
  <board/>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component';
import Board from '@/components/board/index.vue';

@Options({
  components: {
    Board
  },
})
export default class Home extends Vue {}
</script>
