<template>
  <leader-board/>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component';
import LeaderBoard from '@/components/leaderBoard/index.vue';

@Options({
  components: {
    LeaderBoard
  },
})
export default class LeaderBoardPage extends Vue {}
</script>
