<template>
  <q-layout view="lHh lpr lFf" container style="height: 600px" class="shadow-2">
    <q-header elevated>
      <q-tabs shrink>
        <q-tab label="Play Game" @click="$router.push('/')"/>
        <q-tab label="Leader Board" @click="$router.push('/leaderBoard')"/>
      </q-tabs>
    </q-header>
    <q-page-container class="q-card">
      <q-banner class="bg-red text-white" v-if="this.$store.state.global.error.message">
        {{this.$store.state.global.error.message}}
      </q-banner>
      <router-view v-if="!this.$store.state.global.error.message"/>
    </q-page-container>
  </q-layout>

</template>